.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;

  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../static/img/hero-background.png');

  background-size: cover; 
  
  background-position: center;
  
  background-attachment: fixed;
}

.heroBanner h1 {
  color: #ffffff; 
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.heroBanner p {
  color: #f0f0f0;
  font-size: 1.5rem; 
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8); 
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutSection {
  padding: 4rem 0;
  background-color: var(--ifm-background-color);
}

.aboutSection h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: var(--ifm-color-primary)
}

.features {
  padding: 2rem 0 4rem 0;
  display: flex;
  align-items: center;
  width: 100%;
}

.featureCard {
  background: var(--ifm-card-background-color);
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  height: 100%;
  border: 1px solid var(--ifm-color-emphasis-200);
}

.featureCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  border-color: var(--ifm-color-primary);
}

.featureCard h3 {
  margin-bottom: 1rem;
}

/*Digital Garden*/
.tooltip {
  position: relative;
  cursor: help;
  font-weight: bold;
  border-bottom: 2px dotted var(--ifm-color-primary); 
  transition: all 0.2s ease;
}

.tooltip::after {
  content: attr(data-text);
  
  visibility: hidden;
  opacity: 0;
  
  position: absolute;
  bottom: 140%;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  
  width: 280px;
  padding: 12px;
  background-color: var(--ifm-background-surface-color); 
  color: var(--ifm-color-content);
  text-align: center;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: normal;
  
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  border: 1px solid var(--ifm-color-emphasis-200);
  z-index: 100;
  
  transition: opacity 0.3s, transform 0.3s;
  pointer-events: none
}

.tooltip::before {
  content: "";
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  border: 8px solid transparent;
  border-top-color: var(--ifm-background-surface-color);
  z-index: 100;
  transition: opacity 0.3s, transform 0.3s;
}

.tooltip:hover::after,
.tooltip:hover::before {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}