:root {
  --ifm-color-primary: #1c66d4;
  --ifm-color-primary-dark: #1c66d4;
  --ifm-color-primary-darker: #1c66d4;
  --ifm-color-primary-darkest: #1c66d4;
  --ifm-color-primary-light: #1c66d4;
  --ifm-color-primary-lighter: #1c66d4;
  --ifm-color-primary-lightest: #1c66d4;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #1c66d4;
  --ifm-color-primary-dark: #1c66d4;
  --ifm-color-primary-darker: #1c66d4;
  --ifm-color-primary-darkest: #1c66d4;
  --ifm-color-primary-light: #1c66d4;
  --ifm-color-primary-lighter: #1c66d4;
  --ifm-color-primary-lightest: #1c66d4;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
